HBox {
    -fx-padding: 5;
    -fx-background-color: #3b3838;
}

VBox {
    -fx-background-color: #3b3838;
}

Label {
    -fx-text-fill: #cccccc;
    -fx-background-color: #3b3838;
}

BorderPane {
    -fx-background-color: #3b3838;
}

GridPane {
    -fx-background-color: #3b3838;
    -fx-grid-lines-color: #cccccc;
}

ScrollPane {
    -fx-background-color: #3b3838;
    -fx-border-width: 2px;
    -fx-border-color: #cccccc;
}

.progress-bar > .bar {
    -fx-background-color: #73ff00;
    -fx-background-insets: 1 1 1 1;
    -fx-padding: 0.3em;
}

#errorLabel {
    -fx-text-fill: #ff0000;
    -fx-font-size: 20px;
}

#selectedAnimalPane {
    -fx-background-color: #040685;
}

#genotypeAnimalPane {
    -fx-background-color: #008da6;
}

#grassAnimalPane {
    -fx-background-color: #2a7328;
}
